#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;
}

/* Add this to your CSS file */
.scale-down {
  transform: scale(0.9); /* Adjust the scaling factor as needed */
}

